{ 
  "presets": [
    "@babel/env",
    ["@babel/stage-0", { decoratorsLegacy: true }],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "ignore": [
    "node_modules"
  ]

}
